.natura-pg-cut{
  display: flex;
  align-items: center;
  justify-content: space-around;
  .natura-field-preview{
    width: 60%;
    height: 85%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 2% 4%;
    img{
      width:auto;
      height:auto;
      max-width:100%;
      max-height:100%;
      display: none;
    }
  }
  .natura-list-thumb{
    width: 35%;
    height:75%;
    display: flex;
    flex-wrap: wrap;
    margin-right: 5%;
    >li {
      width: calc(100% / 4);
      background: url("/images/hasu01/hasu01_01.jpg") no-repeat center center;
      background-size: cover;
      cursor: pointer;
      transform: scale(0.9);
      display: none;
      &:before {
        z-index: -1;
        content: "";
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        transition: 0.5s;
        background: #000000;
        opacity: 0;
      }
      &:hover {
        &:before {
          opacity: 0.3;
        }
        .fa {
          opacity: 1;
          transform: translateY(-50%);
        }
      }
      .fa {
        opacity: 0;
        color: #FFFFFF;
        transition: 0.5s;
        display: block;
        text-align: center;
        position: relative;
        top: 50%;
        font-size: 25px;
      }
    }
  }
}