@charset "UTF-8";
/* margin padding reset */
@import url(https://fonts.googleapis.com/css?family=Lato:400,700);
@import url(http://fonts.googleapis.com/earlyaccess/notosansjp.css);
body, div, p, ul, ol, li, dl, dt, dd, table, th, td, img, figure, h1, h2, h3, h4, h5, h6, form, select {
  margin: 0;
  padding: 0; }

/* remove list point mark */
ul, ol {
  list-style: none; }

/* remove border & off descender */
img {
  border: 0;
  vertical-align: middle;
  height: auto; }

/* remove descender */
svg, input, select, textarea, label {
  vertical-align: middle; }

/* set collapse */
table {
  border-collapse: collapse; }

/* break word for all elements */
*,
*:before,
*:after {
  word-break: break-all;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

/* [IE8-] New Tag from HTML5 */
main, article, aside, figcaption, figure, footer, header, nav, section, details, summary {
  display: block; }

address {
  font-style: normal; }

/*-------------------------------------------------------------------------------
BASE STYLE
-------------------------------------------------------------------------------*/
/* base font color */
html, input, select, textarea {
  color: #212121; }

/* normalize size */
input, textarea {
  font-size: 100%; }

/* normalize size & weight */
h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
  font-weight: normal; }

/* normalize style & weight */
strong, em, small {
  font-style: inherit;
  font-weight: inherit; }

.natura-list-kv {
  height: 100vh;
  display: flex;
  flex-wrap: wrap;
  padding: 10px; }
  .natura-list-kv > li {
    width: calc(100% / 3);
    background: url("/images/hasu01/hasu01_01.jpg") no-repeat center center;
    background-size: cover;
    transform: scale(0.9);
    opacity: 0;
    position: relative; }
    .natura-list-kv > li:before {
      z-index: -1;
      content: "";
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      transition: 0.5s;
      background: #000000;
      opacity: 0; }
    .natura-list-kv > li:hover:before {
      opacity: 0.3; }
    .natura-list-kv > li:hover p {
      opacity: 1;
      transform: translateY(-50%); }
    .natura-list-kv > li a {
      height: 100%;
      width: 100%;
      display: block;
      text-decoration: none; }
      .natura-list-kv > li a p {
        opacity: 0;
        color: #FFFFFF;
        transition: 0.5s;
        text-align: center;
        position: relative;
        top: 50%;
        font-size: 1.4em;
        letter-spacing: 3px; }

.natura-pg-cut {
  display: flex;
  align-items: center;
  justify-content: space-around; }
  .natura-pg-cut .natura-field-preview {
    width: 60%;
    height: 85%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 2% 4%; }
    .natura-pg-cut .natura-field-preview img {
      width: auto;
      height: auto;
      max-width: 100%;
      max-height: 100%; }
  .natura-pg-cut .natura-list-thumb {
    width: 35%;
    height: 75%;
    display: flex;
    flex-wrap: wrap;
    margin-right: 5%; }
    .natura-pg-cut .natura-list-thumb > li {
      width: calc(100% / 4);
      background: url("/images/hasu01/hasu01_01.jpg") no-repeat center center;
      background-size: cover;
      cursor: pointer;
      transform: scale(0.9);
      display: none; }
      .natura-pg-cut .natura-list-thumb > li:before {
        z-index: -1;
        content: "";
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        transition: 0.5s;
        background: #000000;
        opacity: 0; }
      .natura-pg-cut .natura-list-thumb > li:hover:before {
        opacity: 0.3; }
      .natura-pg-cut .natura-list-thumb > li:hover .fa {
        opacity: 1;
        transform: translateY(-50%); }
      .natura-pg-cut .natura-list-thumb > li .fa {
        opacity: 0;
        color: #FFFFFF;
        transition: 0.5s;
        display: block;
        text-align: center;
        position: relative;
        top: 50%;
        font-size: 25px; }

/*---------------------------------------------------------------------
variable
---------------------------------------------------------------------*/
/*---------------------------------------------------------------------
main
---------------------------------------------------------------------*/
body {
  background: linear-gradient(#171d2d, #000625);
  position: relative;
  font-family: Lato, "Noto Sans JP", "游ゴシック Medium", "游ゴシック体", "Yu Gothic Medium", YuGothic, "ヒラギノ角ゴ ProN", "Hiragino Kaku Gothic ProN", "メイリオ", Meiryo, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif; }

header .natura-track-menu {
  position: fixed;
  width: 100%;
  z-index: 1;
  display: none; }
  header .natura-track-menu .natura-track-link {
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center; }
    header .natura-track-menu .natura-track-link > li {
      margin: 0 5%;
      transition: 0.3s; }
      header .natura-track-menu .natura-track-link > li:hover {
        opacity: 0.5; }
      header .natura-track-menu .natura-track-link > li a {
        color: #A03232;
        text-decoration: none; }

main #cut-top {
  display: flex;
  align-items: center; }
main .natura-grid-cut .natura-menu-link {
  width: 50%;
  text-align: center; }
  main .natura-grid-cut .natura-menu-link .natura-list-link {
    display: inline-block;
    text-align: left; }
    main .natura-grid-cut .natura-menu-link .natura-list-link > li {
      padding: calc( 100% / 3 ) 0;
      font-size: 22px;
      letter-spacing: 3px; }
      main .natura-grid-cut .natura-menu-link .natura-list-link > li > a {
        text-decoration: none;
        color: #A03232; }
        main .natura-grid-cut .natura-menu-link .natura-list-link > li > a:hover {
          opacity: 0.5;
          transition: 0.3s; }
main .natura-grid-cut address {
  color: darkgray; }
main .natura-field-kv {
  width: 70%;
  height: 100%; }

footer {
  position: absolute;
  bottom: 0; }

/*# sourceMappingURL=common.css.map */
