@import "reset";
@import "top";
@import "photography";
@import url(https://fonts.googleapis.com/css?family=Lato:400,700);
@import url(http://fonts.googleapis.com/earlyaccess/notosansjp.css);
/*---------------------------------------------------------------------
variable
---------------------------------------------------------------------*/
$font-color : #A03232;
$light-background-color : #171d2d;
$dark-background-color : #000625;

/*---------------------------------------------------------------------
main
---------------------------------------------------------------------*/
body {
  background:  linear-gradient($light-background-color, $dark-background-color);
  position: relative;
  font-family: Lato, "Noto Sans JP", "游ゴシック Medium", "游ゴシック体", "Yu Gothic Medium", YuGothic, "ヒラギノ角ゴ ProN", "Hiragino Kaku Gothic ProN", "メイリオ", Meiryo, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
}
header{
  .natura-track-menu{
    position: fixed;
    width: 100%;
    z-index: 1;
    display: none;
    .natura-track-link{
      height: 30px;
      display: flex;
      justify-content: center;
      align-items: center;
      background: $dark-background-color;
      >li{
        margin: 0 15px;
        transition: 0.3s;
        &:hover {
          opacity: 0.5;
        }
        a{
          color: $font-color;
          text-decoration: none;
        }
      }
    }
  }
}
main{
  #cut-top{
    display: flex;
    align-items: center;
  }
  .natura-grid-cut{
    .natura-menu-link{
      width: 50%;
      text-align: center;
      .natura-list-link{
        display: inline-block;
        text-align: left;
        >li{
          padding: calc( 100% / 3 ) 0;
          font-size: 22px;
          letter-spacing: 3px;
          a{
            text-decoration: none;
            color: $font-color;
            &:hover{
              opacity: 0.5;
              transition: 0.3s;
            }
          }
        }
      }
    }
    address{
      color: darkgray;
    }
  }
  .natura-field-kv{
    width: 70%;
    height: 100%;
  }
}
footer{
  position: absolute;
  bottom: 0;
}


.modal-wrap{
  display: none;
  .modal-contents{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    color: #fff;
    z-index: 2;
  }
  .modal-back{
    position: fixed;
    top: 0;
    height: 100%;
    width: 100%;
    background: #000;
    opacity: .7;
    z-index: 1;
  }
}
