main {
  width: 100%;
  height: 100vh;
  position: relative;
  .sub-nav-wrap {
    position: absolute;
    top: 5px;
    right: 10px;
    z-index: 1;
    .sub-nav-icon {
      position: absolute;
      right: 0;
      cursor: pointer;
      &:hover {
        transition: 0.3s;
        opacity: 0.8;
      }
      path {
        fill: $font-color;
      }
    }
    .sub-nav-list-wrap {
      display: none;
      .sub-nav-list {
        width: 300px;
        display: flex;
        flex-wrap: wrap;
        position: absolute;
        top: 30px;
        right: 0;
        > li {
          background-size: cover;
          opacity: 1;
          transition: 0.3s;
          &:hover {
            opacity: 0.7;
          }
          a {
            width: 100px;
            height: 100px;
            display: block;
          }
        }
      }
    }
  }
  ul.gallery-preview {
    width: 100%;
    height: calc(100% - 136px);
    background: #000000;
    position: relative;
    > li {
      &:first-of-type {
        display: block;
      }
      width: 100%;
      height: 100%;
      position: absolute;
      display: none;
      transform: scale(0.9);
      background-repeat: no-repeat;
      background-size: contain;
      background-position: center;
    }
  }
  ul.gallery-thumb-list {
    height: 136px;
    white-space: nowrap;
    overflow-x: scroll;
    padding: 6px;
    font-size: 0;
    background: $light-background-color;
    > li {
      width: 100px;
      height: 100px;
      margin: 12px 6px;
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
      display: inline-block;
      cursor: pointer;
      &:hover {
        opacity: 0.8;
      }
    }
  }
}
